<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noellva</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link your CSS file here -->
</head>
<body>
    <nav class="menu-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Home</a></li>
            <li><a href="/projects">Home</a></li>
            <li><a href="/tutorials">Home</a></li>
            <li><a href="/blog">Home</a></li>
        </ul>
    </nav>
    <div class="container">
        <img src="/images/profile_image.jpg" alt="Profile Image" class="profile-img">
        <h1>Noellva</h1>
        <p>GPU Programmer and Middleware developer!</p>
    </div>
</body>
</html>